@charset "UTF-8"; 

header#singelo { font-family: Arial, sans-serif; 
                 font-size: 30pt; 
                 background-color: #dddddd; 
                 text-shadow: 1px 1px 1px (0,0,0,.7) } 

body { background-color: #dddddd; 
       box-shadow: 0px 0px 11px black }  

 h3 {text-align: justify; 
     font-size: 15pt;}  

     h1 { font-size: 20pt; 
     background-color: #170000 
     color: #ffffff; }                